@import 'https://fonts.googleapis.com/css?family=Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Raleway';

/* =======================================
					Top
======================================= */
header {
	background: url(../images/header_bg.jpg) no-repeat 0 0;
	background-size: cover;
}
.top-nav {
	display: flex;
	width: 940px;
	height: 100px;
	margin: 0 auto;
	border-bottom: 1px solid #494c63;
}
.logo {
	display: inline-flex;
	align-items: center;
}
.logo img {
	width: 189px;
	height: 24px;
}
.menu {
	width: 940px;
	margin: 0 auto;
	display: inline-flex;
	align-items: center;
	justify-content: flex-end;
	height: 100px;
}
.menu a {
	color: rgba(255, 255, 255, 0.749); 
	font-size: 13px;
	font-family: "Raleway";
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-decoration: none;
	margin-left: 25px;
}
.menu a:hover {
	color: rgb(218, 174, 174);
	transition: 0.5s;
}
.wrapper-content{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 940px;
	margin: 0 auto;
	padding: 172px 0;
}
.wrapper-content .title {
	display: block;
	width: 100%;
    text-align: center;
	font-size: 65px;
	font-family: "OpenSans";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.092;
}
.wrapper-content .content {
	display: block;
	width: 100%;
	margin-top: 15px;
    text-align: center;
	font-size: 22px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.5;
}
.wrapper-content .button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 70px;
	width: 200px;
	height: 46px;
	border-radius: 2px;
	background-color: rgb(232, 69, 69);
	font-size: 13px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.615;
	text-decoration: none;
}
.wrapper-content .button:hover {
	box-shadow: 0 0 10px #9e9e9e;
	transition: 0.5s;
}
.wrapper-content .button a{
	color: rgb(255, 255, 255);
	text-decoration: none;
}
/* =======================================
				Features	
======================================= */
.features {
	display: flex;
	width: 940px;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.features div {
	width: 33.33333%;
	height: 350px;
	text-align: center;
}
.features div img {
	margin-top: 120px;
}
.features div a {
	display: block;
	text-decoration: none;
}
.features div a h2 {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(45, 48, 51);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	margin-top: 20px;
	margin-bottom: 25px;
}
.features div a:hover h2 {
	color: rgb(158,120,64);
}
.features div .content {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(108, 114, 121);
	line-height: 1.5;
	padding: 0 35px;
}
.features div .content:hover {
	cursor: pointer;
}
.feature:before {
	content: '';
	display: block;
	margin-top: 120px;
	width: 100%;
	height: 62px;
	background-image: url(../images/features.png);
	background-repeat: no-repeat;
}
.feature_1:before {
	background-position: 50% 0;
}
.feature_2:before {
	background-position: 50% -60px;
}
.feature_3:before {
	background-position: 50% -123px;
}
.feature_4:before {
	background-position: 50% -192px;
}
.feature_5:before {
	background-position: 50% -261px;
}
.feature_6:before {
	background-position: 50% -318px;
}
/* =======================================
				Team	
======================================= */
.team {
	display: flex;
	width: 940px;
	margin: 0 auto;
}
.employee {
	box-sizing: border-box;
	margin-right: 20px;
}
.employee .foto {
	margin-top: 100px;
	margin-bottom: 30px;
}
.employee .foto img{
	width: 100%;
	height: 100%;
}
.employee .name {
	font-size: 22px;
	font-family: "Raleway";
	color: rgb(45, 48, 51);
	line-height: 1.2;
	text-align: left;
	margin-bottom: 15px;
	font-weight: normal;
}
.employee .position {
	font-size: 13px;
	font-family: "Raleway";
	color: rgb(232, 69, 69);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 30px;
	font-weight: normal;
}
.employee .content {
	font-size: 14px;
	font-family: "Myriad Pro";
	color: rgb(108, 114, 121);
	line-height: 1.5;
	margin-bottom: 55px;
}
.employee .social li{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #e8ecee;
	margin-bottom: 130px;
	cursor: pointer;
}
.employee .social .tw {
	background: url(../images/tw_emp.png) no-repeat 50% 50%;
}
.employee .social .tw:hover {
	background-color: #3a3e64;
	transition: background-color 0.5s ease;
}
.employee .social .fb {
	background: url(../images/fb_emp.png) no-repeat 50% 50%;
}
.employee .social .fb:hover {
	background-color: #3a3e64;
	transition: background-color 0.5s ease;
}
.employee .social .in {
	background: url(../images/in_emp.png) no-repeat 50% 50%;
}
.employee .social .in:hover {
	background-color: #3a3e64;
	transition: background-color 0.5s ease;
}
/* =======================================
				Works	
======================================= */
.works {
	min-width: 940px;
	margin-top: 120px;
}
.works img {
	width: 100%;
	height: 100%;
}
.works .item {
	display: block;
	position: relative;
	float: left;
	width: 25%;
	line-height: 0;
	border: 1px solid #fff;
	box-sizing: border-box;
}
.works .item .hover{
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.works .item:hover .hover{
	visibility: visible;
	background-color: #d54140;
	opacity: 0.8;
	text-align: center;
}
.works .item .title {
	padding-top: 25%;
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}
.works .item .content {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	line-height: 1.2;
}
/* =======================================
				Link	
======================================= */
.link {
	display: block;
	background: url(../images/footer_bg.jpg) no-repeat 0 0;
}
.wrapper-link {
	display: flex;
	width: 940px;
	height: 250px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
}
.location {
	text-align: center;
	width: 33%;
}
.location .title {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 20px;
}
.location .content {
	width: 170px;
	font-size: 14px;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.502);
	line-height: 1.607;
	margin: 0 auto;
}
.share {
	text-align: center;
}
.share .title{
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 20px;
}
.share .social_icons li{
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	cursor: pointer;
}
.share .social_icons .tw {
	background: url(../images/tw.png) no-repeat 50% 50%;
}
.share .social_icons .tw:hover {
	background-color: #e84545;
	transition: background-color 0.5s ease;
}
.share .social_icons .fb {
	background: url(../images/fb.png) no-repeat 50% 50%;
}
.share .social_icons .fb:hover {
	background-color: #e84545;
	transition: background-color 0.5s ease;
}
.share .social_icons .in {
	background: url(../images/in.png) no-repeat 50% 50%;
}
.share .social_icons .in:hover {
	background-color: #e84545;
	transition: background-color 0.5s ease;
}
.about {
	text-align: center;
}
.about .title {
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	margin-bottom: 20px;
}
.about .content {
	width: 330px;
	font-size: 14px;
	font-family: "Raleway";
	color: rgba(255, 255, 255, 0.502);
	line-height: 1.607;
}
/* =======================================
				Footer	
======================================= */
footer {
	height: 90px;
	background-color: #313454;
	font-size: 14px;
	font-family: "Raleway";
	color: rgb(128, 128, 128);
	line-height: 1.607;
	text-align: center;
}
footer p{
	width: 100%;
}
footer p:first-child{
	padding-top: 25px;
}
footer .heart {
	color: red;
}
footer .name {
	color: #fff;
}